@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.button
{
    display: inline-block;
    margin: auto;
    padding: 10px 20px 15px;
    margin: 5px;

    min-width: 40px;
    width: fit-content;
    height: fit-content;

    background-color: rgb(51, 49, 65);
    border-radius: 5px;
}

.mouse
{
    display: inline-block;
    margin: auto;
    padding: 10px 10px 35px;
    margin: 5px;

    min-width: 20px;
    width: 50px;
    height: fit-content;

    background-color: rgb(51, 49, 65);
    border-radius: 35px;
}

p
{
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin: auto;
    border-radius: 15px;

    font-size: 1.25rem;
    font-weight: 400;
    color: white;
}

.space
{
    min-width: 120px;
}